<div class="jumbotron">
  <h1><%= @store.name() %></h1>
  <div class="row">
    <div class="col col-md-3">
      <!-- Home button '/' -->
      <a href="/"><button type="button" class="btn btn-success">Home</button></a>
    </div>
    <div class="col col-md-6">
      <!-- Edit store name thru form input -->
      <form action="/store/<%= @store.id() %>" method="post">
        <input type="hidden" name="_method" value="patch">
        <button type="submit" class="btn btn-warning">Rename</button>
        <input type="text" name="rename">
      </form>
    </div>
    <div class="col col-md-3">
      <!-- Delete-Store button through hidden form input -->
      <form class="" action="/store/<%= @store.id() %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit" class="btn btn-danger">Delete Store</button>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col col-md-6">
    list of shoes store already stocks
  </div>
  <div class="col col-md-6">
    checkboxes of shoes store does not yet stock
  </div>

</div>
